i.icon-global
{
	text-align: center;
	display: block;
	position: relative;
	margin-top: 10px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	padding: 0;
	margin-top: 20px;
	left: 20%;
}
i.icon-delivery-truck
{
	left: 10%;
	background-image: url(../icon/delivery-truck.png);
}
i.icon-discount
{
	background-image: url(../icon/discount.png);
}
i.icon-factory
{
	background-image: url(../icon/factory.png);
}
i.icon-gasoline-pump
{
	background-image: url(../icon/gasoline-pump.png);
}
i.icon-plate-fork-and-knife
{
	background-image: url(../icon/plate-fork-and-knife.png);
}
i.icon-tree-silhouette
{
	background-image: url(../icon/tree-silhouette.png);
}
/*================================================*/
i.icon-benefits
{
	display: block;
	text-align: center
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-position: center;
}
.collaboration
{
	background-image: url(../icon/collaboration.png);
}
.box
{
	background-image: url(../icon/box.png);
}
.calendar
{
	background-image: url(../icon/calendar.png);
}
.hand
{
	background-image: url(../icon/hand.png);
}
.law
{
	background-image: url(../icon/law.png);
}
.speed
{
	background-image: url(../icon/speed.png);
	
}
.transparency
{
	background-image: url(../icon/transparency.png);
}
