i.icon-global
{
	display: block;
	position: relative;
	margin-top: 10px;
	width: 100px;
	height: 50px;
	background-size: 70px;
	background-repeat: no-repeat;
}
i.icon-delivery-truck
{
	background-image: url(../icon/delivery-truck.png);
}
i.icon-discount
{
	background-image: url(../icon/discount.png);
}
i.icon-factory
{
	background-image: url(../icon/factory.png);
}
i.icon-gasoline-pump
{
	background-image: url(../icon/gasoline-pump.png);
}
i.icon-plate-fork-and-knife
{
	background-image: url(../icon/plate-fork-and-knife.png);
}
i.icon-tree-silhouette
{
	background-image: url(../icon/tree-silhouette.png);
}