/*================= FONTS ===================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
}
body
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;

}
/*================= PRELOADER ===================== */
/*================= PRELOADER ===================== */
/*================= PRELOADER ===================== */
.isset:after
{
	content: "";
	display: block;
	position: relative;
	top: 75%;
	left: 54%;
	width: 100px;
	height: 4px;
	background: rgb(37,188,239);
}
.preloader
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
	visibility: visible;
	opacity: 1;
	transition: .2s;
}
.loader
{
	position: absolute;
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loader-progress
{
	position: relative;
	left: 50%;
}
.logo-preload
{
	width: auto;
	height: 108px;
	background-image: url(../img/logo.png);
	background-size: 350px;
	background-repeat: no-repeat;
}
.done
{
	opacity: 0;
	visibility: hidden;
}
/*================= SECTION HEAD ===================== */
/*================= SECTION HEAD ===================== */
/*================= SECTION HEAD ===================== */
hr
{
	display: none;
}
.head
{
	position: relative;
	background-image: url(../img/header.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 500px;
}
.bg-color-menu
{
	background: rgba(0, 0, 0, .37);
}
a.nav-link,
a.navbar-brand
{
		color: white !important;
		font-family: 'Roboto';
		font-size: 16px;
		font-weight: 300;
}
.navbar-nav li
{
	margin-right: 20px;
}
a.navbar-brand
{
	font-weight: 700;
}
/* mail and phone*/
.contact-menu
{
	font-size: 16px;
	margin-left: 40px;
	margin-right: 20px;
}
.icon-style
{
	color: #5dd6ff;
	margin-right: 10px;
}

.tool-rotate
{
	transform: rotate(90deg);
}
.tool-rotate-180
{
	transform: rotate(180deg);
}
.btn-head-position
{
	position: relative;
	top: 90px;
}
/* Logo renessans*/
.logo
{
	width: auto;
	height: 108px;
	background-image: url(../img/logo.png);
	background-size: 350px;
	background-repeat: no-repeat;
	margin-top: 100px;
}
/* button presentation*/
.btn-style
{
	border: 4px solid rgb(37,188,239);
	padding: 10px 30px 10px 30px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 0;
	font-size: 18px;
	color: #254266;
}
.btn-style:hover
{
	background: rgb(37,188,239);
	color: white;
}
/* Text-logo*/
.text-logo
{
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}

/*================= SECTION DIRECTION ===================== */
/*================= SECTION DIRECTION ===================== */
/*================= SECTION DIRECTION ===================== */
.brbr-top
{
	border-top: 4px solid rgba(110, 187, 237, 0.5);
}
.direction
{
	background-image: url(../img/direction.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	margin-bottom: 0px;
	padding-bottom: 70px;
	z-index: 1;
}
.direction h1
{
	margin-top: 70px;
	margin-bottom: 50px;
	color: #27bbee;
	font-weight: 400;
	font-size: 62px;
}
.block-hover
{
	transition: 0.2s background;
}
.block-hover:hover
{
	background-color: rgba(116, 185, 255, 0.12);
	cursor: pointer;
	outline: 4px dashed rgba(116, 185, 255, 0.12);
	outline-offset:-4px;
}
/*================= SECTION DIRECTION LIST ===================== */
/*================= SECTION DIRECTION LIST  ===================== */
/*================= SECTION DIRECTION LIST  ===================== */
.list
{
	margin: 10px auto;
	background-image: url(../img/direction_list.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 965px;
}
.list h1
{
	margin-top: 150px;
	color: white;
	font-weight: 400;
	font-size: 62px;
}
.list h2
{
	font-size: 38px;
	color: white;
}
.list li
{
	padding: 15px;
	list-style-type: square;
	color: white;
	font-size: 22px;
}
.services
{
	margin: 50px auto;
}
.form-btn
{
	border-radius: 0;
	border-width: 3px;
	padding: 10px 50px;
	margin: 50px auto;
}
/*================= SECTION BENEFITS ===================== */
/*================= SECTION BENEFITS  ===================== */
/*================= SECTION BENEFITS  ===================== */
.benefits
{
	background-image: url(../img/direction.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
	z-index: 1;
}
.benefits h1 
{
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 50px;
	color: #27bbee;
	font-size: 62px;
}
.block-benefits
{
	margin: 40px auto;
}
.benefits p
{
	margin: 10px auto;
	font-size: 24px;
}
.benefits p:before
{
	content: "";
	display: block;
	position: relative;
	margin: 0 auto 20px;
	border-top: 5px dashed rgba(110, 187, 237, 0.40);
	width: 200px;
}
/*================= SECTION MAP ===================== */
/*================= SECTION MAP  ===================== */
/*================= SECTION MAP  ===================== */
.brbr
{
	border-top: 2px solid rgba(110, 187, 237, 0.5);
	border-bottom: 2px solid rgba(110, 187, 237, 0.5);
}
.maps
{
	position: relative;
}
.maps h1
{
	font-weight: 400;
	color: #27bbee;
	font-size: 62px;
}
.map-header
{
	z-index: 1112;
	position: absolute;
	top: 40px;
}
/*================= SECTION NEWS ===================== */
/*================= SECTION NEWS ===================== */
/*================= SECTION NEWS ===================== */
.news
{
	background-image: url(../img/direction.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	margin-bottom: 0px;
	padding-bottom: 100px;
	z-index: 1;
}
.news h1
{
	margin: 80px auto 100px;
	color: #27bbee;
	font-size: 62px;
	font-weight: 400;
}
.news h2
{

}
.news small
{
	color: #999;
}
.news p
{

}
/*================= SECTION FOOTER ===================== */
/*================= SECTION FOOTER ===================== */
/*================= SECTION FOOTER ===================== */
.footer
{

	background: #007290;
	color: white;
	overflow: hidden;
}
.dec-line::after
{
	content: "";
	display: block;
	position: absolute;
	top:60%;
	left: 65%;
	transform: rotate(65deg);
	background-color: #fff;
	width: 380px;
	height: 35px;
	outline: 7px dashed #27bbee;
	z-index: 9999;
}
.footer span i 
{
	color: #25BCEF;
}
.footer ul 
{
	padding: 0;
	margin-top: 20px;
}
.footer ul li
{
	font-size: 14px;
	text-align: right;
	list-style:none;
	text-transform: capitalize;
	margin: 10px auto;
	padding: 
}
.footer ul li:first-child
{
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.footer-menu li:first-child:after
{
	content: "";
	position: absolute;
	right: 0;
	margin-top: 10px;
	display: block;
	width: 80px;
	border-top: 2px dashed #27bbee;
}
li.footer-contact-list
{
	margin-top: 15px !important;
	text-align: left !important;
}
li.footer-contact-list:first-child
{
	text-align: left;
}
li.footer-contact-list:first-child:after
{
	content: "";
	position: absolute;
	left: 0;
	margin-top: 10px;
	display: block;
	width: 90px;
	border-top: 2px dashed #27bbee;
}
li.footer-contact-list span
{
	text-align: left !important;
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-transform: none;
	font-weight: 400;
}
@media (max-width: 992px) {
	.dec-line::after
	{
		display: none;
		overflow: hidden;
		visibility: hidden;
	}
  .text-logo {
    font-size: 40px;
    text-align: center;
  }
  .logo
	{
		margin-left:auto;
		margin-right: auto;
		background-size: 300px;
	}
	
	.news h1,
	.direction h1
	{
		font-size: 50px;
	}
	.list h1,
	.maps h1,
	.benefits h1
	{
		font-size: 46px;
	}
	.btn-style
	{
		border: 4px solid rgb(37,188,239);
		padding: 10px 30px 10px 30px;
		text-transform: uppercase;
		font-weight: 500;
		border-radius: 0;
		font-size: 18px;
		color: #254266;
	}
	.btn-center
	{
		text-align: center;
	}
	.ls
	{
		background-position: center;
	}
	span.contact-menu
	{
		display: block;
		margin-top: 10px;
		margin-left: 0px;
	}
	hr
	{
		display: block;
		background: #333;
		height: 1px;
	}
	.bg-color-menu
	{
		background: rgba(27, 46, 78, .39);
	}
	a.nav-link i.set-wr
	{
		padding-right: 11px;
	}
	.services div > h2
	{
		font-size: 24px;
	}
	.list li
	{
		font-size: 18px;
		padding: 5px;
	}
	.active-small
	{
		font-size: 1.8em;
	}
	li.footer-contact-list span
	{
		text-align: center;
	}
	li.footer-contact-list:first-child
	{
		display: block;
		width: 80px;
		margin-left: 50% !important;
		transform: translateX(-50%);
	}
	li.footer-contact-list
	{
		display: inline-block;
		margin: 10px 10px !important;
	}
	ul.footer-menu-small
	{
		text-align: center;
	}

	li.footer-contact-list:first-child:after
	{
		content: "";
		margin-top: 10px;
		display: block;
		position: relative;
		left: -8px;
		width: 90px;
		border-top: 2px dashed #27bbee;
	}
	.small-center
	{
		text-align: center !important;
	}
}
@media (max-width: 1093px) {

	.contact-menu
	{
		margin-left: 15px;
		margin-right: 0px;
	}
	.icon-style
	{
	margin-right: 5px;
	}
	.footer span
	{
		font-size: 18px;
	}
}